<div class="container">
    
    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
        <h2>Request OTP</h2>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter email"/>
        <div *ngIf="otpForm.get('email')?.invalid && (otpForm.get('email')?.touched || otpForm.get('email')?.dirty)">
          <small *ngIf="otpForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="otpForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>
      <button type="submit" [disabled]="otpForm.invalid">Request OTP</button>
    </form>
    <div *ngIf="message">{{ message }}</div>
  </div>