.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.login-container {
  min-width: 500px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 24px;
}

.form-contanier {
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
  font-size: 28px;
  font-family: Futura;
  margin: 24px 0 36px 0;
}
.logo {
  height: 96px;
  width: 100%;
  object-fit: contain;
}
.login-btn {
  border-radius: 8px;
  min-width: 150px;
  background-color: #3e7194;
  border: 0;
  height: 42px;
  color: #fff;
}
.login-btn:hover {
  background-color: rgb(77, 123, 154);
}
//added by suraj
.mat-mdc-form-field{
  margin-bottom: 12px !important;

}
.mat-mdc-form-field-flex {
  height: 48px !important;
  min-width: 300px;
}
.mat-mdc-text-field-wrapper {
  height: 48px !important;
}
.mat-mdc-form-field-infix {
  height: 48px !important;
}
.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 12px 0 !important;
}
.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper{
  padding: 0px !important;
}