<header>
    <div class="container">
      <div class="logo">
        <a href="#"><img src="../assets/logo.png" height="10" *ngIf="!menuOpen" /></a>
      </div>
      <nav style="z-index: 1000">
        <ul class="nav-links" [ngClass]="{ show: menuOpen }">
         
          <li *ngIf="menuOpen" class="mobile-logo-section" style="padding-bottom: 50px;">
            <img src="./assets/logo.png" height="15" />
            <img src="./assets/close.png" height="15" *ngIf="menuOpen" (click)="OnClose()">
          
          </li>
          <div class="logout-btn">
            <button mat-flat-button (click)="logout()" >LogOut</button>
        </div>
         
          
        
  
        </ul>
      </nav>
      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>
  
  
  
  
  