.document-group{
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: #fff;
}

.form-row{
    display: flex;
    flex-wrap: wrap;
    
  }

.justify-content-center {
    justify-content: center !important;
    width: 100%;
    margin-bottom: 24px;
    border: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

h4{
  font-size: 18px;
  margin-top: 36px;
  margin-bottom: 16px;
  text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .card{
    display: flex;
    align-items: center !important;
  }

  .file-drop-zone {
    border: 2px dashed #999;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    width: 80%;
    height: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .file-drop-zone:hover {
    background-color: #f0f0f0;
  }
  
  .file-drop-zone.dragover {
    background-color: #e3f2fd;
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
  .choose-button,
.upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.upload-button {
  background-color:  #0056b3; /* Green color for upload button */
}

// .choose-button:hover,
// .upload-button:hover {
//   background-color: #0056b3;
// }

.upload-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
