<p-toast></p-toast>
<form [formGroup]="contactForm">
  <div
    formArrayName="contacts"
    *ngFor="let contact of contacts.controls; let i = index"
  >
    <div [formGroupName]="i" class="contact-group">
      <div class="contact-container">
        <h3>Contact {{ indexToWord(i) }}</h3>
        <div class="btn-add-remove">
          <a (click)="removeContact(i)" *ngIf="contacts.length > 1">
            <img src="./assets/delete.svg" height="24" />
          </a>
        </div>
      </div>

      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              matInput
              id="first_name-{{ i }}"
              placeholder="Enter your firstname"
              formControlName="first_name"
            />

            <mat-error *ngIf="contact.get('first_name')?.hasError('required')">
              First Name is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              id="last_name-{{ i }}"
              placeholder="Enter your lastname"
              formControlName="last_name"
            />

            <mat-error *ngIf="contact.get('last_name')?.hasError('required')">
              Last Name is required.
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>

      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              matInput
              placeholder="Enter your Email Address"
              id="email_address-{{ i }}"
              formControlName="email_address"
            />

            <mat-error
              *ngIf="contact.get('email_address')?.hasError('required')"
            >
              Email Address is required.
            </mat-error>
            <mat-error *ngIf="contact.get('email_address')?.hasError('email')">
              Invalid email address.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Enter your Phone Number"
              id="phone_number-{{ i }}"
              formControlName="phone_number"
            />

            <mat-error *ngIf="contact.get('phone_number')?.hasError('required')">
              Phone Number is required.
            </mat-error>
            <mat-error *ngIf="contact.get('phone_number')?.hasError('pattern')">
              Phone Number must be 10 digits.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Job Title</mat-label>
            <input
              matInput
              placeholder="Enter your Job Title"
              id="job_title-{{ i }}"
              formControlName="job_title"
            />

            <mat-error *ngIf="contact.get('job_title')?.hasError('required')">
              Job Title is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div
    formArrayName="hrcontacts"
    *ngFor="let hrcontact of hrcontacts.controls; let i = index">
    <div [formGroupName]="i" class="contact-group">
      <div class="contact-container">
        <h3>HR Contact {{ indexToWord(i) }}</h3>
        <div class="btn-add-remove">
          <a (click)="removeHrContact(i)" *ngIf="hrcontacts.length > 1">
            <img src="./assets/delete.svg" height="24" />
          </a>
        </div>
      </div>

      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              matInput
              id="first_name-{{ i }}"
              placeholder="Enter your firstname"
              formControlName="first_name"
            />

            <mat-error *ngIf="hrcontact.get('first_name')?.hasError('required')">
              First Name is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              id="last_name-{{ i }}"
              placeholder="Enter your lastname"
              formControlName="last_name"
            />

            <mat-error *ngIf="hrcontact.get('last_name')?.hasError('required')">
              Last Name is required.
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>

      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Enter your Phone Number"
              id="phone_number-{{ i }}"
              formControlName="phone_number"
            />

            <mat-error *ngIf="hrcontact.get('phone_number')?.hasError('required')">
              Phone Number is required.
            </mat-error>
            <mat-error *ngIf="hrcontact.get('phone_number')?.hasError('pattern')">
              Phone Number must be 10 digits.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              matInput
              placeholder="Enter your Email Address"
              id="email_address-{{ i }}"
              formControlName="email_address"
            />

            <mat-error
              *ngIf="hrcontact.get('email_address')?.hasError('required')"
            >
              Email Address is required.
            </mat-error>
            <mat-error *ngIf="hrcontact.get('email_address')?.hasError('email')">
              Invalid email address.
            </mat-error>
          </mat-form-field>
        </div>
       
      </div>

      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Job Title*</mat-label>
            <input
              matInput
              placeholder="Enter your Job Title"
              id="job_title-{{ i }}"
              formControlName="job_title"
            />

            <mat-error *ngIf="hrcontact.get('job_title')?.hasError('required')">
              Job Title is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <a class="btn-add">
    <button type="button" (click)="addContact()">Add</button>
  </a>
  <!-- <div class="button-container">
  <button type="submit" mat-button color="primary" [disabled]="contactForm.invalid">Next</button>
  </div> -->
  <div class="button-container">
    <button type="button" (click)="onPrevious()">Previous</button>
    <button type="button" (click)="onNext()">Next</button>
  </div>
</form>
