.contact-group {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: #fff;
}


.form-row{
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  /* margin: 36px; */
  justify-content: space-between;
}

.form-field {
  flex: 1; /* Distribute space equally */
  min-width: 200px; /* Minimum width to prevent fields from becoming too narrow */
}

.justify-content-center {
  justify-content: center !important;
  width: 48%;
  margin-top: 18px;
  border: none;
}

small{
  color: red;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.contact-container{
  display: flex;
  justify-content: space-between; /* Ensures the text and button are separated */
  align-items: center; /* Aligns the items vertically in the center */
}

.btn-add-remove{
  display: flex;
}

.btn-add{
  display: flex;
  justify-content: flex-end;
  height: 36px;
  align-items: center;
}

.mat-mdc-form-field-hint-wrapper .mat-mdc-form-field-error-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

mat-mdc-text-field-wrapper {
  width: 100%;
  z-index: 0;
  height: 50px;
}

.ui-toast {
  font-size: 14px;
}