// h2 {
//   margin-top: 0;
// }
// .button-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 20px 0;
// }

// button {
//   background-color: #007bff;
//   color: white;
//   border: none;
//   padding: 10px 20px;
//   font-size: 16px;
//   font-weight: bold;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
//   margin-top: 20px;
// }

// button[disabled] {
//   background-color: #ccc;
//   cursor: not-allowed;
// }

// button:hover:not([disabled]) {
//   background-color: #0056b3;
// }
.dasboard-container {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
.stepper {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: relative;
}

.step-container {
  position: relative;
}

.step-line {
  width: 2px; /* Adjust thickness */
  background-color: #007bff; /* Default color */
  height: 100px; /* Adjust height */
  position: absolute;
  left: 26px; /* Align with step */
  top: 65px; /* Position after the step */
  transition: background-color 0.3s;
}

.step-line.completed {
  background-color: #28a745; /* Color for completed steps */
}

.step {
  padding: 36px 12px; /* Less padding for no background effect */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.step.active {
  color: #007bff; /* Active step text color */
}

.step.completed {
  color: #28a745; /* Completed step text color */
}

.step-number {
  width: 30px;
  height: 30px;
  border: 2px solid #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: white; /* Circular background */
  transition: background-color 0.3s, color 0.3s;
}

.step-number.completed {
  border-color: #28a745; /* Change border color for completed steps */
  color: #28a745; /* Change text color for completed steps */
  background-color: white; /* Keep it transparent or set a color */
}

.step-number span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; /* Adjust font size for tick */
  color: #007bff; /* Default color */
}

.step-number.completed span {
  color: #28a745; /* Color for the tick mark */
  font-weight: bold; /* Make it stand out */
}

.step-title {
  font-weight: bold;
}

.step-content {
  transition: opacity 0.3s;
  width: 75%;
  background: #f2f2f2;
  padding: 36px;
}
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc; /* Disabled color */
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3; /* Darker shade on hover */
}
