<div>
  <div class="dasboard-container">
    <div class="stepper">
      <div *ngFor="let step of steps; let i = index" class="step-container">
        <div
          class="step-line"
          *ngIf="i < steps.length - 1"
          [ngClass]="{ completed: i < activeStep }"
        ></div>
        <div
          [ngClass]="{ active: i === activeStep, completed: i <= activeStep }"
          (click)="goToStep(i)"
          class="step"
        >
          <div class="step-number" [ngClass]="{ completed: i <= activeStep }">
            <span *ngIf="i < activeStep">&#10003;</span>
            <span *ngIf="i === activeStep && i < steps.length - 1">{{
              i + 1
            }}</span>
            <span
              *ngIf="i === steps.length - 1 && activeStep === steps.length - 1"
              >&#10003;</span
            >
            <span *ngIf="i > activeStep">{{ i + 1 }}</span>
          </div>
          <div class="step-title">{{ step.title }}</div>
        </div>
      </div>
    </div>
    <div class="step-content">
      <ng-container *ngIf="activeStep === 0">
        <app-company-info [next]="onNextStep.bind(this)"></app-company-info>
      </ng-container>
      <ng-container *ngIf="activeStep === 1">
        <app-contact-info [next]="onNextStep.bind(this)"></app-contact-info>
      </ng-container>
      <ng-container *ngIf="activeStep === 2">
        <app-company-documentation
          [next]="onNextStep.bind(this)"
        ></app-company-documentation>
      </ng-container>
      <div class="navigation-buttons">
        <button (click)="prevStep()" [disabled]="activeStep === 0">
          Previous
        </button>
        <button
          (click)="onNextStep()"
          [disabled]="activeStep === steps.length - 1"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
