<div style="display: flex; height: 100vh;">
  <div style="border-right: 1px solid #ccc;">
    <p-steps [model]="steps" [(activeIndex)]="activeIndex"></p-steps>
  </div>
  <div style="flex: 3; padding: 20px; background-color: #f2f2f2;">
  
  <ng-container [ngSwitch]="activeIndex">
    <div *ngIf="showCompanyInfo"><app-company-info *ngSwitchCase="0" (next)="onNext()"></app-company-info></div>
    <div *ngIf="showContactInfo"><app-contact-info *ngSwitchCase="1" (next)="onNext()"></app-contact-info>
    </div>
    <div *ngIf="showCompanyDocu">
    <app-company-documentation *ngSwitchCase="2" (next)="onNext()"></app-company-documentation>
  </div>
  </ng-container>
  <!-- <div class="button-container">
    <button type="button" (click)="submitForm()">Submit</button>  
    <button (click)="onPrevious()" [disabled]="activeIndex === 0">Previous</button>
    <button (click)="onNext()" [disabled]="activeIndex === steps.length - 1">Next</button>
  </div> -->
  
  </div>
  </div>