<form [formGroup]="companyForm">
  <div>
    <div class="company-group">
      <h3>Company Information</h3>
      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <input
              matInput
              placeholder="Enter your Company Name"
              formControlName="companyName"
            />

            <mat-error
              *ngIf="companyForm.get('companyName')?.hasError('required')"
            >
              Company Name is required.
            </mat-error>
            <mat-error
              *ngIf="companyForm.get('companyName')?.hasError('minlength')"
            >
              Must be at least 2 characters long.
            </mat-error>
            <mat-error
              *ngIf="companyForm.get('companyName')?.hasError('maxlength')"
            >
              Cannot exceed 50 characters.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Business Registration Number</mat-label>
            <input
              matInput
              placeholder="Enter your BRS"
              formControlName="businessRegNumber"
            />

            <mat-error
              *ngIf="companyForm.get('businessRegNumber')?.hasError('required')"
            >
              BRN is required.
            </mat-error>
            <mat-error
              *ngIf="companyForm.get('businessRegNumber')?.hasError('pattern')"
            >
              Invalid BRN.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Tax Identification Number (TIN)</mat-label>
            <input
              matInput
              placeholder="Enter your TIN"
              formControlName="taxIdentificationNumber"
            />

            <mat-error
              *ngIf="
                companyForm.get('taxIdentificationNumber')?.hasError('required')
              "
            >
              TIN is required.
            </mat-error>
            <mat-error
              *ngIf="
                companyForm.get('taxIdentificationNumber')?.hasError('pattern')
              "
            >
              Invalid TIN.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Website</mat-label>
            <input
              matInput
              placeholder="Enter your Website"
              formControlName="website"
            />

            <mat-error *ngIf="companyForm.get('website')?.hasError('required')">
              Website is required.
            </mat-error>
            <mat-error *ngIf="companyForm.get('website')?.hasError('pattern')">
              Enter a valid URL.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="company-group">
      <h3>Company Profile</h3>
      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input
              matInput
              placeholder="Enter Description"
              formControlName="description"
            />

            <mat-error
              *ngIf="companyForm.get('description')?.hasError('required')"
            >
              Description is required.
            </mat-error>
            <mat-error
              *ngIf="companyForm.get('description')?.hasError('minlength')"
            >
              Must be at least 10 characters long.
            </mat-error>
            <mat-error
              *ngIf="companyForm.get('description')?.hasError('maxlength')"
            >
              Cannot exceed 500 characters.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Industry</mat-label>
            <input
              matInput
              placeholder="Enter Industry"
              formControlName="industry"
            />

            <mat-error
              *ngIf="companyForm.get('industry')?.hasError('required')"
            >
              Industry is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="card flex justify-content-center">
          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <input matInput placeholder="Enter Size" formControlName="size" />

            <mat-error *ngIf="companyForm.get('size')?.hasError('required')">
              Company size is required.
            </mat-error>

            <mat-error *ngIf="companyForm.get('size')?.hasError('pattern')">
              Size must be a valid number.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="button-container">
  <button type="submit" mat-button color="primary" [disabled]="companyForm.invalid">Next</button>
</div> -->
</form>
